/* TYPOGRAPHY */
h1 {
  font-family: orpheuspro, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  font-size: 80px;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: orpheuspro, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  line-height: 1.5em;
  font-size: 2.5vw;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

}

h3 {
  font-family: orpheuspro, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  font-size: 2.5vw;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h4 {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 22px;
}

h5 {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
    font-size: 1vw;
}

h6 /* subtitle below the title */ {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75em;
  font-size: 1vw;
  color: #535353;
}

p {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
}

nav a, a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #D8C041;
  font-family: franklin-gothic-urw, sans-serif;
  font-style: italic;
  font-weight: 300;
}

#about, #resume, #contact {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .5px;
}
/* END TYPOGRAPHY */

body {
  max-width: 100%;
  margin: 0;
  background-color: #F7F6F0;
}

#nav_rule {
  border-top: 1.35px solid black;
}


/*START NAV */
nav {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 60px;
  flex-direction: row;
}


#logo  {
display: flex;
align-self: center;
max-width: 10vw;
width: auto;
height: auto;
position: absolute;
top: 3vh;
}

.menu {
  display: flex;
  height: 60px;
  width: 40%;
  /* margin-left: 60%; */
  justify-content: center;
  position: relative;
  left: 30%;
}

.menu li {
  display: flex;
  list-style: none;
  position: relative;
  top: 25%;
  padding: 0 20px;

}

#about, #resume, #contact {
  display: inline-block;
  /* padding: 0 40px; */
}
/* END NAV */


/*ABOVE THE FOLD*/
#above_fold {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  padding-top: 1%;

}

.left_container {
  max-width: 50%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_title {
  max-width: 70%;
  width: auto;
  position: relative;
  left: 20%;
  top: 12%;
  height: auto;
  align-items: flex-start;
}

.hero_title h2 {
    position: relative;
      display: block;
}

#subtitle h6 {
  position: relative;
  top: 50%;;
  display: flex;
  align-items: center;
}

.doNotWrap {
   white-space: nowrap;
}


/*
 #subtitle {
   width: 612px;
   height: 100px;
   position: relative;
   left: 20%;
   top: 20%;;
   display: flex;
   align-items: center;
   background-color: orange;
}
*/

.right_container {
  max-width: 50%;
  width: auto;
  height: auto%;
  display: flex;
  justify-content: center;
}

#hero_img {
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 20px;
}

#hero_img img {
  position: relative;
  max-width: 80%;
  height: auto;
  width: auto;
}

/* END ABOVE FOLD */


/* BELOW FOLD */
.below_fold {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0vh;
}




#work_title {
  max-width: 10vw;
  width: auto;
  display: block;
  position: relative;
  top: 2vh;
  text-align: left;
}

#work_title > h3 {
  height:auto;
  width: auto;
  max-width:20vw;
  max-height: 3vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
}


.work_container {
  display: block;
  max-width: 30vw;
  width: auto;
  height: 70vh;
  max-height: 70vh;
  float:left;
  position: relative;
  left: 7%;
  top: 8vh;
}

.work_container ul {
  list-style-type: none;
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
  max-width: 22vw;
  width: auto;
  height: 50vh;
  display: block;
  position: relative;
  left: .5vw;
  text-align: left;
  top: 7vh;
}

.work_container > ul > li > a {
    color: black;
    text-decoration: none;
}

#wing {
        height:auto;
        width: auto;
        max-width:20vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
            max-height: 3vw;
}

#wing h5 {
  position: relative;

}

.work_container > ul > li > a > .project_display {
        display:none;
      /*  height:100px;
        width:100px;
        */

        max-width: 32vw;
        width: auto;
        height: auto%;
      /*  margin:-100px 0px 0px 800px; */
        float:left;
        position: absolute;
        top: -10vh;
        left: 40vw;
        padding: 12%:
}

.work_container > ul > li > a:hover > .project_display {
        display:block;
        filter:drop-shadow(0px 2px 3px #E6E5DB);
        max-width: 50%;
        width: auto;
        height: auto%;
        padding: 10%;
}

.project_display img {
  display: block;
  max-width: 32vw;
  width: auto;
  height: auto;
  position: relative;
  left: 2vw;
}

.work_container > ul > li > a:hover h5:hover {
color: #D8C041;
font-family: franklin-gothic-urw, sans-serif;
font-style:italic;
font-weight: 300;
}

#waylien {
    height:auto;
    width: auto;
    max-width:20vw;
    max-height: 3vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
}

#oxfam {
  height:auto;
  width: auto;
  max-width:20vw;
      max-height: 3vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
}



.regular_rule {
  border-top: 1.35px solid black;
  width: 20vw;
  position: relative;
  right: 1vw;
}

.regular_rule hr {
  border-top: 1.35px solid black;
  width: 20vw;
  position: relative;
  right: 1vw;
}



/*
#rule_under_title {
  border-top: 1.35px solid black;
  width: 20vw;
  position: relative;
  right: 2.2vw;
  top: 1vh;
}

#rule_under_rule hr {
  border-top: 1.35px solid black;
  width: 20vw;
  position: relative;
  right: 4vw;
}

*/


/* END Below Fold */
