/*-------------------- START TYPOGRAHY ---------------------- */
h1 {
  font-family: orpheuspro, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  font-size: 3.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: orpheuspro, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: #D8C041;
  line-height: 1.25em;
  font-size: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-family: orpheuspro, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  font-size: 1.75em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: .030em;
}

h5 {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: .030em;
}

/* subtitle below the title */
h6 {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75em;
  font-size: 1vw;
  color: #535353;
}

p {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 2em;
  font-size: .95em;
}

nav a, a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #D8C041;
  font-family: franklin-gothic-urw, sans-serif;
  font-style: italic;
  font-weight: 300;
}

#about, #resume, #contact {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .5px;
}

/*-------------------- END TYPOGRAHY ---------------------- */
body {
  max-width: 100%;
  margin: 0;
  background-color: #F7F6F0;
}

#nav_rule {
  border-top: 1.35px solid black;
  position: relative;
  top: -1.85vh;
}

/*-------------------- START NAV ---------------------- */
nav {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 5rem;
  flex-direction: row;
}

.logo_link {
  display: flex;
  align-self: center;
  position: absolute;
  left: 51.5rem;
}

#logo {
  display: flex;
  align-self: center;
  max-width: 17.5rem;
  width: auto;
  height: auto;
  position: absolute;
  padding: 0vh 2vw 0 2vw;
}

.menu {
  display: flex;
  height: auto;
  width: 35rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: -35.55rem;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 1vh;
}

.menu li {
  list-style: none;
  position: relative;
  padding: 0 20px;
}

#about, #resume, #contact {
  display: inline-block;
  font-size: 1.005em;
  /* padding: 0 40px; */
}

/*-------------------- END NAV ---------------------- */
.container {
  /*  background-color: pink; */
  max-width: 80vw;
  padding: 0;
  margin: 0 auto;
}

.title_row {
  padding: 0;
  padding-top: 3vh;
  margin: 0 auto;
  /*  background-color: pink; */
}

.title {
  padding: 0;
  margin: 0;
  /*  background-color: lightblue; */
}

.title_row .col-xl-4 {
  padding: 2.25vh 0 0 0;
  margin: 0;
  /*  background-color: yellow; */
}

.hero {
  margin: 0;
  padding: 0;
}

.hero img {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

.waylien_info {
  margin: 0 auto;
}

.waylien_info_col {
  margin: 0;
  padding: 0;
}

.inner_row {
  padding: 0;
  margin-left: 0;
}

.left .row {
  margin: 0;
}

.left {
  /*  background: skyblue; */
  margin: 0 auto;
  padding: 0;
}

.role, .tools {
  margin: 0;
}

.waylien_info .col-3 {
  padding: 0;
}

.right {
  /*  background-color: grey; */
  padding: 0;
  margin: 0;
}

hr {
  border-top: 1.35px solid black;
  position: relative;
}

.row {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sing_img {
  margin: 0;
  padding: 0;
}

.sing_img img {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

.sing_img a {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

.sec-head-big, .sec-head {
  padding: 0;
  margin: 3vh 0 1.5vh 0;
}

.text-1 {
  margin-top: 5vh;
}

.text {
  padding: 0;
  margin: 0;
}

.text-middle p {
  text-align: left;
}

.col {
  padding: 0;
}

.subtext {
  padding-left: .1%;
}

.text-2, .sec-head, {
  padding-left: .5%;
}

.side-side {
  padding: 0;
}

.side-side h4 {
  padding: 0;
  padding-left: .5%;
  margin: 0;
}

.side-text {
  padding: 0;
  margin: 0;
}

.text-left {
  padding: 0;
  margin: 0;
  padding-left: .5%;
}

.side-img {
  padding: 0;
  width: auto;
  height: auto;
  /* padding-left: 4%; */
}

.sidebyside {
  margin: 0;
  margin-top: 10vh;
  padding: 0;
  width: 100%;
}

.task_list {
  margin: 0;
  padding: 0;
}

.task_list .text {
  margin: 0;
  padding: 0;
}

.list_item {
  margin-right: 2vw;
}

.space_bottom_1 {
  margin-bottom: 2rem;
}

.space_bottom_2 {
  margin-bottom: 3.5rem;
}

.space_bottom_3 {
  margin-bottom: 5rem;
}

a:hover {
  text-decoration: none;
}

#arrow {
  max-width: 1.5rem;
  display: flex;
  margin: 0;
  display: inline-block;
}

.proto_link {}

#img_side {
  padding-left: 0;
}

.timeline, .role, .team, .tools {
  padding-left: 0;
}

#prototype_link {
  padding: 0;
  margin: 0 auto;
}

.margin {
  padding: 0;
}

#prototype_link img {
  padding: 0;
  margin: 0;
  width: 100%;
}

.no_margin {
  margin-left: 0;
}





/* -------------------------- MEDIA QUERIES --------------------------- */
@media only screen and (min-width: 1654px) {
  #nav_rule {
    border-top: 1.35px solid black;
    position: relative;
    top: -1.5rem;
  }

  #logo {
    max-width: 15em;
    padding: .5rem 2rem;
    left: -6.5rem;
    top: -1.2rem;
  }

  #about, #resume, #contact {
    display: inline-block;
    font-size: .9rem;
    padding: 0 20px;
      left: -4.25rem;
          top: -.25rem;
  }

  .menu {
    position: relative;
    width: 30vw;
    left: 34vw;
  }
}



@media only screen and (min-width: 1270px) and (max-width: 1654px) {
  #nav_rule {
    border-top: 1.35px solid black;
    position: relative;
    top: -1.05rem;
  }

  #logo {
    max-width: 13.95em;
    padding: .5rem 2rem;
    left: -9.5rem;
  }

  #about, #resume, #contact {
    display: inline-block;
    font-size: .8rem;
    padding: 0 20px;
      left: -4rem;
  }

  .menu {
    position: relative;
    width: 30vw;
    left: 34vw;
  }
}




@media only screen and (min-width: 1171px) and (max-width: 1571px) {

  #nav_rule {
    border-top: 1.35px solid black;
    position: relative;
    top: -1.75vh;
  }

  #logo {
    max-width: 12em;
      padding: 0vh 2vw 0 2vw;
          left: -14rem;
  }

  #about, #resume, #contact {
    display: inline-block;
    font-size: .8vw;
    /* padding: 0 40px; */
  }

  .menu {
    position: relative;
    width: 32vw;
    left: 34vw;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1171px) {
  #nav_rule {
    border-top: 1.35px solid black;
    position: relative;
    top: -1.05rem;
  }

  #logo {
    max-width: 15vw;
    padding: .5vh 0vw 0 0vw;
    position: relative;
    right: 21.75rem;
  }

  #about, #resume, #contact {
    display: inline-block;
    font-size: .9em;
    /* padding: 0 40px; */
  }

  .menu {
    position: relative;
    width: 35vw;
    left: 30vw;
  }
}

@media only screen and (min-width: 765px) and (max-width: 989px) {


  .menu {
    position: relative;
    width: 50vw;
    left: 22vw;
  }


  #logo {
    max-width: 14rem;
    width: auto;
    height: auto;
    display: inline-block;
    position: absolute;
    left: -49rem;
    top: -.5em;
  }



  #about {
    width: auto;
    position: relative;
    left: -3vw;
    padding: 1vh 0;
    font-size: .9em;
  }

  #resume {
    width: auto;
    position: relative;
    font-size: 2.25vw;
    padding: 1vh 0 0 0;
    left: 1vw;
    font-size: .9em;
  }


  #nav_rule {
    max-width: 100vw;
  }

}

@media only screen and (min-width: 669px) and (max-width: 765px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .menu {
    position: relative;
    width: 50vw;
    left: 20vw;
  }

  #about {
    width: auto;
    position: relative;
    left: -2vw;
    padding: 1vh 0;
    font-size: .9em;
  }

  #resume {
    width: auto;
    position: relative;
    font-size: 2.25vw;
    padding: 1vh 0 0 0;
    left: 2vw;
    font-size: .9em;
  }


  #contact {
    width: auto;
    position: relative;
    font-size: 2.25vw;
    padding: 1vh 0 0 0;
    left: 5vw;
     font-size: .9em;
  }

  #logo {
    max-width: 11rem;
    width: auto;
    height: auto;
    display: inline-block;
    position: absolute;
    left: -49rem;
  }
}

/*---------------------------------------------------------*/
@media only screen and (max-width: 668px) {

  /* ABOVE THE FOLD */
  nav {
    position: relative;
    max-width: 100vw;
    width: auto;
    height: auto;
    max-height: 20vh;
    /* background-color: pink; */
  }

  #logo {
    max-width: 10rem;
    width: auto;
    height: auto;
    display: inline-block;
    position: absolute;
    left: -155vw;
    /*    background-color: green; */
  }

  .menu {
    position: relative;
    width: 45vw;
    left: 22vw;
    /*    background-color: yellow; */
  }

  #about {
    width: auto;
    position: relative;
    right: 6vw;
    font-size: 2.25vw;
    padding: 1vh 0;
    /*   background-color: teal; */
    font-size: .8em;
  }

  #resume {
    width: auto;
    position: relative;
    font-size: 2.25vw;
    padding: 1vh 0 0 0;
    font-size: .8em;
    /*  background-color: blue; */
  }

  #contact {
    display: none;
  }

  #nav_rule {
    display: block;
    position: relative;
    top: -1vh;
    max-width: 100vw;
  }
}


/* ---------------- END MEDIA QUERIES --------------- */
